<h1><%= @project.name %></h1>

<p>Using <%= @project.material %></p>
<p>Theme: <%= @project.challenge.theme %></p>
<p>Total number of contestants; <%= @project.contestant_count %> </p>
<p>Average years of experience; <%= @project.average_years_of_experience.round(2) %> </p>
